{% extends "layout/main.html" %}
{% block title %} show all booklets {% endblock %}

{% block body %}
<h1>List Booklets</h1>
{% if request.user.is_authenticated %}
<h3> Welcome {{request.user}} </h3>
{% endif %}
<a href="{%url 'create' %}">Create booklet</a>

{% for booklet in booklets %}

<h2> {{booklet.title}} </h2>
<p>{{booklet.content}}</p>
<a href="{%url 'delete' booklet.id %}">Delete booklet</a>
<a href="{%url 'edit' booklet.id %}">update booklet</a>
<a href="{%url 'show' booklet.id %}">show booklet</a>

{% endfor %}


{% endblock %}